.error {
  padding: 50px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  span {
    margin: 10px 0;
    font-size: 14px;
  }
}
.filter {
  width: 100%;
}

.contact-list {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;
}
