<div [mdcElevation]="2"
  *ngIf="loaded$|async">
  <mdc-list twoLine
            avatar>
    <mdc-list-item *ngFor="let contact of contacts$|async"
      [routerLink]="['/contact', contact.id]">
      <img [src]="contact.picture"
           mdcListItemGraphic />
      <mdc-list-item-text [secondaryText]="contact.phone">{{contact.firstname}} {{contact.lastname}}
      </mdc-list-item-text>
      <a mdcListItemMeta
         mdcIcon
         aria-label="View more"
         title="More info">info</a>
    </mdc-list-item>
  </mdc-list>
</div>

<div class="loader"
  *ngIf="!(loaded$|async) && !(error$|async)">
  <mdc-linear-progress></mdc-linear-progress>
</div>

<div class="error"
  *ngIf="error$|async">
  <mdc-icon>error</mdc-icon>
  <span>{{error$|async}}</span>
  <button mdc-button
    (click)="handleRetry()">Retry</button>
</div>