.name {
  padding: 20px;
}

.details {
  padding: 0 30px;
}
.back-button {
  height: 60px;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  margin: 20px auto;
  display: block;
}
.mdc-text-field {
  margin: 5px;
}
.edit-mode {
  .mdc-list-item {
    height: 70px;
  }
}
.mdc-list-item {
  .input {
    width: 100%;
    .mdc-text-field {
      width: 100%;
    }
  }
}

.card {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;
}
