.name {
  padding: 20px;
}

.details {
  padding: 0 30px;
}
.back-button {
  width: 100%;
  height: 60px;
  margin-top: 20px;
}
.mdc-text-field {
  margin: 5px;
}
.edit-mode {
  .mdc-list-item {
    height: 70px;
  }
}
.mdc-list-item {
    .input {
        width: 100%;
        .mdc-text-field {
            width: 100%;
        }
    }
}